<div>
    <h2 id="page-heading">
        <span>Admin Insectes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-admin-insecte" [routerLink]="['/admin-insecte/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Admin Insecte
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="adminInsectes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date D Ajout</span></th>
            <th><span>Date Validation</span></th>
            <th><span>Flag</span></th>
            <th><span>Insecte</span></th>
            <th><span>Administrateur</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let adminInsecte of adminInsectes ;trackBy: trackId">
                <td><a [routerLink]="['/admin-insecte', adminInsecte.id, 'view' ]">{{adminInsecte.id}}</a></td>
                <td>{{adminInsecte.dateDAjout | date:'medium'}}</td>
                <td>{{adminInsecte.dateValidation | date:'medium'}}</td>
                <td>{{adminInsecte.flag}}</td>
                <td>
                    <div *ngIf="adminInsecte.insecte">
                        <a [routerLink]="['../insecte', adminInsecte.insecte?.id, 'view' ]" >{{adminInsecte.insecte?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="adminInsecte.administrateur">
                        <a [routerLink]="['../administrateur', adminInsecte.administrateur?.id, 'view' ]" >{{adminInsecte.administrateur?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/admin-insecte', adminInsecte.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/admin-insecte', adminInsecte.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'admin-insecte', { outlets: { popup: adminInsecte.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
