<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-image-herbe-heading">Create or edit a Image Herbe</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!imageHerbe.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="imageHerbe.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_imageUrl">Image Url</label>
                    <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                        [(ngModel)]="imageHerbe.imageUrl" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_herbe">Herbe</label>
                    <select class="form-control" id="field_herbe" name="herbe" [(ngModel)]="imageHerbe.herbeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="herbeOption.id" *ngFor="let herbeOption of herbes; trackBy: trackHerbeById">{{herbeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
