<div>
    <h2 id="page-heading">
        <span>Image Envoyes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-image-envoye" [routerLink]="['/image-envoye/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Image Envoye
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="imageEnvoyes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Url Image</span></th>
            <th><span>Date D Ajout</span></th>
            <th><span>Date Validation</span></th>
            <th><span>Flag</span></th>
            <th><span>Agriculteur</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let imageEnvoye of imageEnvoyes ;trackBy: trackId">
                <td><a [routerLink]="['/image-envoye', imageEnvoye.id, 'view' ]">{{imageEnvoye.id}}</a></td>
                <td>{{imageEnvoye.urlImage}}</td>
                <td>{{imageEnvoye.dateDAjout | date:'medium'}}</td>
                <td>{{imageEnvoye.dateValidation | date:'medium'}}</td>
                <td>{{imageEnvoye.flag}}</td>
                <td>
                    <div *ngIf="imageEnvoye.agriculteurId">
                        <a [routerLink]="['../agriculteur', imageEnvoye.agriculteurId , 'view' ]" >{{imageEnvoye.agriculteurId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/image-envoye', imageEnvoye.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/image-envoye', imageEnvoye.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'image-envoye', { outlets: { popup: imageEnvoye.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
