<div>
    <h2 id="page-heading">
        <span>Maladies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-maladie" [routerLink]="['/maladie/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Maladie
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="maladies">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nom Maladie</span></th>
            <th><span>Description</span></th>
            <th><span>Images Maladie</span></th>
            <th><span>Maladie ML</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let maladie of maladies ;trackBy: trackId">
                <td><a [routerLink]="['/maladie', maladie.id, 'view' ]">{{maladie.id}}</a></td>
                <td>{{maladie.nomMaladie}}</td>
                <td>{{maladie.description}}</td>
                <td>{{maladie.imagesMaladie}}</td>
                <td>
                    <div *ngIf="maladie.maladieMLId">
                        <a [routerLink]="['../methode-lutte', maladie.maladieMLId , 'view' ]" >{{maladie.maladieMLId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/maladie', maladie.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/maladie', maladie.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'maladie', { outlets: { popup: maladie.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
