<div>
    <h2 id="page-heading">
        <span>Images</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-image" [routerLink]="['/image/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Image
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="images">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Url Image</span></th>
            <th><span>Date D Ajout</span></th>
            <th><span>Date Validation</span></th>
            <th><span>Flag</span></th>
            <th><span>Insecte</span></th>
            <th><span>Attaque</span></th>
            <th><span>Agriculteur</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let image of images ;trackBy: trackId">
                <td><a [routerLink]="['/image', image.id, 'view' ]">{{image.id}}</a></td>
                <td>{{image.urlImage}}</td>
                <td>{{image.dateDAjout | date:'medium'}}</td>
                <td>{{image.dateValidation | date:'medium'}}</td>
                <td>{{image.flag}}</td>
                <td>
                    <div *ngIf="image.insecte">
                        <a [routerLink]="['../insecte', image.insecte?.id, 'view' ]" >{{image.insecte?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="image.attaque">
                        <a [routerLink]="['../attaque', image.attaque?.id, 'view' ]" >{{image.attaque?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="image.agriculteur">
                        <a [routerLink]="['../agriculteur', image.agriculteur?.id, 'view' ]" >{{image.agriculteur?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/image', image.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/image', image.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'image', { outlets: { popup: image.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
