<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chercheur">
            <h2><span>Chercheur</span> {{chercheur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Institut</span></dt>
                <dd>
                    <span>{{chercheur.institut}}</span>
                </dd>
                <dt><span>Pays</span></dt>
                <dd>
                    <span>{{chercheur.pays}}</span>
                </dd>
                <dt><span>Specialite</span></dt>
                <dd>
                    <span>{{chercheur.specialite}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{chercheur.userId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chercheur', chercheur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
