<div>
    <h2 id="page-heading">
        <span>Chercheur Insectes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chercheur-insecte" [routerLink]="['/chercheur-insecte/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Chercheur Insecte
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="chercheurInsectes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date D Ajout</span></th>
            <th><span>Date Validation</span></th>
            <th><span>Flag</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chercheurInsecte of chercheurInsectes ;trackBy: trackId">
                <td><a [routerLink]="['/chercheur-insecte', chercheurInsecte.id, 'view' ]">{{chercheurInsecte.id}}</a></td>
                <td>{{chercheurInsecte.dateDAjout | date:'medium'}}</td>
                <td>{{chercheurInsecte.dateValidation | date:'medium'}}</td>
                <td>{{chercheurInsecte.flag}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/chercheur-insecte', chercheurInsecte.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chercheur-insecte', chercheurInsecte.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'chercheur-insecte', { outlets: { popup: chercheurInsecte.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
