<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chercheurInsecte">
            <h2><span>Chercheur Insecte</span> {{chercheurInsecte.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date D Ajout</span></dt>
                <dd>
                    <span>{{chercheurInsecte.dateDAjout}}</span>
                </dd>
                <dt><span>Date Validation</span></dt>
                <dd>
                    <span>{{chercheurInsecte.dateValidation}}</span>
                </dd>
                <dt><span>Flag</span></dt>
                <dd>
                    <span>{{chercheurInsecte.flag}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chercheur-insecte', chercheurInsecte.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
