<div>
    <h2 id="page-heading">
        <span>Image Insectes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-image-insecte" [routerLink]="['/image-insecte/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Image Insecte
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="imageInsectes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Image Url</span></th>
            <th><span>Insecte</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let imageInsecte of imageInsectes ;trackBy: trackId">
                <td><a [routerLink]="['/image-insecte', imageInsecte.id, 'view' ]">{{imageInsecte.id}}</a></td>
                <td>{{imageInsecte.imageUrl}}</td>
                <td>
                    <div *ngIf="imageInsecte.insecteId">
                        <a [routerLink]="['../insecte', imageInsecte.insecteId , 'view' ]" >{{imageInsecte.insecteId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/image-insecte', imageInsecte.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/image-insecte', imageInsecte.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'image-insecte', { outlets: { popup: imageInsecte.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
