<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="imageInsecte">
            <h2><span>Image Insecte</span> {{imageInsecte.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date D Ajout</span></dt>
                <dd>
                    <span>{{imageInsecte.dateDAjout}}</span>
                </dd>
                <dt><span>Date Validation</span></dt>
                <dd>
                    <span>{{imageInsecte.dateValidation}}</span>
                </dd>
                <dt><span>Flag</span></dt>
                <dd>
                    <span>{{imageInsecte.flag}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="imageInsecte.image">
                        <a [routerLink]="['/image', imageInsecte.image?.id, 'view']">{{imageInsecte.image?.id}}</a>
                    </div>
                </dd>
                <dt><span>Agriculteur</span></dt>
                <dd>
                    <div *ngIf="imageInsecte.agriculteur">
                        <a [routerLink]="['/agriculteur', imageInsecte.agriculteur?.id, 'view']">{{imageInsecte.agriculteur?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image-insecte', imageInsecte.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
