<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-attaque-heading">Create or edit a Attaque</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!attaque.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="attaque.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_localisation">Localisation</label>
                    <input type="text" class="form-control" name="localisation" id="field_localisation"
                        [(ngModel)]="attaque.localisation" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="attaque.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_flag">Flag</label>
                    <input type="checkbox" class="form-control" name="flag" id="field_flag"
                        [(ngModel)]="attaque.flag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateValidation">Date Validation</label>
                    <div class="d-flex">
                        <input id="field_dateValidation" type="datetime-local" class="form-control" name="dateValidation" [(ngModel)]="dateValidation" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateAjout">Date Ajout</label>
                    <div class="d-flex">
                        <input id="field_dateAjout" type="datetime-local" class="form-control" name="dateAjout" [(ngModel)]="dateAjout" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_insecte">Insecte</label>
                    <select class="form-control" id="field_insecte" name="insecte" [(ngModel)]="attaque.insecte" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="insecteOption.id === attaque.insecte?.id ? attaque.insecte : insecteOption" *ngFor="let insecteOption of insectes; trackBy: trackInsecteById">{{insecteOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_culture">Culture</label>
                    <select class="form-control" id="field_culture" name="culture" [(ngModel)]="attaque.culture" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cultureOption.id === attaque.culture?.id ? attaque.culture : cultureOption" *ngFor="let cultureOption of cultures; trackBy: trackCultureById">{{cultureOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_chercheur">Chercheur</label>
                    <select class="form-control" id="field_chercheur" name="chercheur" [(ngModel)]="attaque.chercheur" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="chercheurOption.id === attaque.chercheur?.id ? attaque.chercheur : chercheurOption" *ngFor="let chercheurOption of chercheurs; trackBy: trackChercheurById">{{chercheurOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_administrateur">Administrateur</label>
                    <select class="form-control" id="field_administrateur" name="administrateur" [(ngModel)]="attaque.administrateur" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="administrateurOption.id === attaque.administrateur?.id ? attaque.administrateur : administrateurOption" *ngFor="let administrateurOption of administrateurs; trackBy: trackAdministrateurById">{{administrateurOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
