<div>
    <h2 id="page-heading">
        <span>Attaques</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-attaque" [routerLink]="['/attaque/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Attaque
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="attaques">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Description</span></th>
            <th><span>Flag</span></th>
            <th><span>Localisation</span></th>
            <th><span>Date Validation</span></th>
            <th><span>Date Ajout</span></th>
            <th><span>Images Attaque</span></th>
            <th><span>Insecte</span></th>
            <th><span>Culture</span></th>
            <th><span>Chercheur</span></th>
            <th><span>Type Degat</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attaque of attaques ;trackBy: trackId">
                <td><a [routerLink]="['/attaque', attaque.id, 'view' ]">{{attaque.id}}</a></td>
                <td>{{attaque.description}}</td>
                <td>{{attaque.flag}}</td>
                <td>{{attaque.localisation}}</td>
                <td>{{attaque.dateValidation | date:'medium'}}</td>
                <td>{{attaque.dateAjout | date:'medium'}}</td>
                <td>{{attaque.imagesAttaque}}</td>
                <td>
                    <div *ngIf="attaque.insecteId">
                        <a [routerLink]="['../insecte', attaque.insecteId , 'view' ]" >{{attaque.insecteId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="attaque.cultureId">
                        <a [routerLink]="['../culture', attaque.cultureId , 'view' ]" >{{attaque.cultureId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="attaque.chercheurId">
                        <a [routerLink]="['../chercheur', attaque.chercheurId , 'view' ]" >{{attaque.chercheurId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="attaque.typeDegatId">
                        <a [routerLink]="['../type-degat', attaque.typeDegatId , 'view' ]" >{{attaque.typeDegatId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/attaque', attaque.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/attaque', attaque.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'attaque', { outlets: { popup: attaque.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
