<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="methodeLutte">
            <h2><span>Methode Lutte</span> {{methodeLutte.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Methode Culturale</span></dt>
                <dd>
                    <span>{{methodeLutte.methodeCulturale}}</span>
                </dd>
                <dt><span>Traitement</span></dt>
                <dd>
                    <span>{{methodeLutte.traitement}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/methode-lutte', methodeLutte.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
