<div>
    <h2 id="page-heading">
        <span>Methode Luttes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-methode-lutte" [routerLink]="['/methode-lutte/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Methode Lutte
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="methodeLuttes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Type</span></th>
            <th><span>Methode Culturale</span></th>
            <th><span>Traitement</span></th>
            <th><span>Image ML</span></th>
            <th><span>Video</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let methodeLutte of methodeLuttes ;trackBy: trackId">
                <td><a [routerLink]="['/methode-lutte', methodeLutte.id, 'view' ]">{{methodeLutte.id}}</a></td>
                <td>{{methodeLutte.type}}</td>
                <td>{{methodeLutte.methodeCulturale}}</td>
                <td>{{methodeLutte.traitement}}</td>
                <td>{{methodeLutte.imageML}}</td>
                <td>{{methodeLutte.video}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/methode-lutte', methodeLutte.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/methode-lutte', methodeLutte.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'methode-lutte', { outlets: { popup: methodeLutte.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
