<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate #editForm="ngForm">
            <h2 id="jhi-image-attaque-heading">Create or edit a Image Attaque</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!imageAttaque.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="imageAttaque.id" readonly />
                </div><!--
                <div class="form-group">
                    <label class="form-control-label" for="field_imageUrl">Image Url</label>
                    <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                        [(ngModel)]="imageAttaque.imageUrl" />
                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterfileuploadApp.imgag.imageCulture" for="field_imageUrl">Image Insecte</label>
                    <input type="file" class="form-control" name="imageUrl" id="field_imageUrl" (change)="onFileChange($event)" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_attaque">Attaque</label>
                    <select class="form-control" id="field_attaque" name="attaque" [(ngModel)]="imageAttaque.attaqueId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="attaqueOption.id" *ngFor="let attaqueOption of attaques; trackBy: trackAttaqueById">{{attaqueOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" (click)="save(editForm)">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
