<div>
    <h2 id="page-heading">
        <span>Image Attaques</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-image-attaque" [routerLink]="['/image-attaque/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Image Attaque
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="imageAttaques">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Image Url</span></th>
            <th><span>Attaque</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let imageAttaque of imageAttaques ;trackBy: trackId">
                <td><a [routerLink]="['/image-attaque', imageAttaque.id, 'view' ]">{{imageAttaque.id}}</a></td>
                <td>{{imageAttaque.imageUrl}}</td>
                <td>
                    <div *ngIf="imageAttaque.attaqueId">
                        <a [routerLink]="['../attaque', imageAttaque.attaqueId , 'view' ]" >{{imageAttaque.attaqueId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/image-attaque', imageAttaque.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/image-attaque', imageAttaque.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'image-attaque', { outlets: { popup: imageAttaque.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
